<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.zoe.location.amap_location">

    <application>

        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="您的key"/>

        <!-- 定位需要的服务 适配Android Q需要加上android:foregroundServiceType="location"-->
        <service
            android:name="com.amap.api.location.APSService"
            android:foregroundServiceType="location" />

    </application>
</manifest>
