<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoe.starfish_server.mapper.PingLunMapper">
  <resultMap id="BaseResultMap" type="com.zoe.starfish_server.domain.PingLun">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="dianZan" jdbcType="BIGINT" property="dianzan" />
    <result column="createTime" jdbcType="BIGINT" property="createtime" />
    <result column="createBy" jdbcType="BIGINT" property="createby" />
    <result column="newsId" jdbcType="BIGINT" property="newsid" />
    <result column="userId" jdbcType="BIGINT" property="userid" />
    <result column="pingLunId" jdbcType="BIGINT" property="pinglunid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `type`, dianZan, createTime, createBy, newsId, userId, pingLunId, content
  </sql>
  <select id="selectByExample" parameterType="com.zoe.starfish_server.domain.PingLunExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pinglun
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pinglun
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pinglun
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zoe.starfish_server.domain.PingLunExample">
    delete from pinglun
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zoe.starfish_server.domain.PingLun">
    insert into pinglun (id, `type`, dianZan, 
      createTime, createBy, newsId, 
      userId, pingLunId, content
      )
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{dianzan,jdbcType=BIGINT}, 
      #{createtime,jdbcType=BIGINT}, #{createby,jdbcType=BIGINT}, #{newsid,jdbcType=BIGINT}, 
      #{userid,jdbcType=BIGINT}, #{pinglunid,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zoe.starfish_server.domain.PingLun">
    insert into pinglun
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="dianzan != null">
        dianZan,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="createby != null">
        createBy,
      </if>
      <if test="newsid != null">
        newsId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="pinglunid != null">
        pingLunId,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="dianzan != null">
        #{dianzan,jdbcType=BIGINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=BIGINT},
      </if>
      <if test="newsid != null">
        #{newsid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="pinglunid != null">
        #{pinglunid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zoe.starfish_server.domain.PingLunExample" resultType="java.lang.Long">
    select count(*) from pinglun
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pinglun
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.dianzan != null">
        dianZan = #{record.dianzan,jdbcType=BIGINT},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=BIGINT},
      </if>
      <if test="record.createby != null">
        createBy = #{record.createby,jdbcType=BIGINT},
      </if>
      <if test="record.newsid != null">
        newsId = #{record.newsid,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.pinglunid != null">
        pingLunId = #{record.pinglunid,jdbcType=BIGINT},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pinglun
    set id = #{record.id,jdbcType=BIGINT},
      `type` = #{record.type,jdbcType=INTEGER},
      dianZan = #{record.dianzan,jdbcType=BIGINT},
      createTime = #{record.createtime,jdbcType=BIGINT},
      createBy = #{record.createby,jdbcType=BIGINT},
      newsId = #{record.newsid,jdbcType=BIGINT},
      userId = #{record.userid,jdbcType=BIGINT},
      pingLunId = #{record.pinglunid,jdbcType=BIGINT},
      content = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zoe.starfish_server.domain.PingLun">
    update pinglun
    <set>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="dianzan != null">
        dianZan = #{dianzan,jdbcType=BIGINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="createby != null">
        createBy = #{createby,jdbcType=BIGINT},
      </if>
      <if test="newsid != null">
        newsId = #{newsid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="pinglunid != null">
        pingLunId = #{pinglunid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zoe.starfish_server.domain.PingLun">
    update pinglun
    set `type` = #{type,jdbcType=INTEGER},
      dianZan = #{dianzan,jdbcType=BIGINT},
      createTime = #{createtime,jdbcType=BIGINT},
      createBy = #{createby,jdbcType=BIGINT},
      newsId = #{newsid,jdbcType=BIGINT},
      userId = #{userid,jdbcType=BIGINT},
      pingLunId = #{pinglunid,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>